%div default#index@frontend
#{a 'Admin', href('@admin')}
- if user.logged?
  | #{a 'Logout', href('default#logout@auth')}
- else
  | #{a 'Login', href('@auth')}

%div= @session.inspect
%div= @user.inspect
%div groups: #{@groups}
%div grants: #{@grants}
